main {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container h4 {
    justify-content: center;
    display: flex;
    color: #5D5A88;
}

.first-part {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.timer-selects {
    width: auto;
    display: flex;
    gap: 10px;
    margin-right: 5px;
}


.card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-self: center
}

form input::placeholder {
    color: rgb(174, 174, 174);
    font-style: italic;
}

.question-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}

.card-text.answer {
    font-style: italic;
    color: green;
    font-weight: bold;
}

.card-text.difficulty {
    font-style: italic;
    font-weight: bold;
    color: gray;
}

.question-card {
    background-color: #F3F6FF;
}

#resultCount, #selectedCount {
    font-size: 18px;
    color: #93AAFD;
}

.card-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.create-btn {
    width: 200px;
    height: 50px;
    background-color: #5D5A88;
    color: white;
    border: none;
    border-radius: 5px;
    margin: auto;
    font-size: large;
}

.create-btn:hover {
    background-color: #b2b0ee;
    transition: background-color 0.3s ease;
}
