.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
}

.dialog {
    background-color: rgb(33, 5, 108);
    border-radius: 10px;
    width: max-content;
    min-width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    height: fit-content;
}

.dialog-header {
    font-weight: bold;
    color: white;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}

.dialog-body {
    line-height: 1.5;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-bottom-right-radius: 10px ;
    border-bottom-left-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.dialog-body .content p {
    font-size: 16px;
    margin: 0;
}

.dialog-body .content{
    padding: 0;
    margin-bottom: 20px;
}

.dialog-btn {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.ok-btn {
    background-color: var(--dark-purple);
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
}

.ok-btn:hover {
    background-color: #8e72f3;
}

.cancel-btn {
    color: grey;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    border: solid 1px grey;
    padding: 5px;
    border-radius: 5px;
    width: 70px;
    display: none
}

.cancel-btn:hover {
    background-color: rgb(219, 218, 218);
}
