.navbar, .footer{
    font-family: 'Patrick Hand',sans-serif;
	background-color: #F8F1FF !important;
}

background{
    background: #f8f0f0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* navbar */
.navbar {
	z-index: 999;
}

.navbar .getstarted {
	background-color: white !important;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
	width: fit-content;
}

.navbar-nav a {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 500;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
	color: #8d8ba7;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #6052ff;
	font-size: large;
}

.navbar li a.btn, .logout {
    background-color: #6052ff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    line-height: 30px; 
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    font-size: 19px;
}

.navbar li a.btn:hover, .logout:hover {
	background-color: white;
	color: #6052ff;
}


.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 17px;
	line-height: 0.3;
	background: #fff;
	z-index: 1000;
  position: relative;
}

.nav-item {
	min-width: 100px;
}

.navbar-nav .nav-link {
    transition: transform 0.3s;
    display: inline-block; /* ensures transform works properly */
}

.navbar-nav .nav-link:hover {
    transform: scale(1.2);
}

.navbar-nav .nav-link.active {
	transform: scale(1.2);
    color: #6052ff;
    font-weight: bold;
}

.usermode {
	display: flex;
	gap: 15px;
	font-size: 23px;
	font-weight: 500px;
}

.account {
	background-color: white;
	padding: 7px 10px;
	border-radius: 40px;
	max-width: 100px; /* Adjust as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account:hover {
	background-color: rgb(213, 213, 255);
}

/*main content */
.section-padding {
	padding: 100px 0;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 70%;
	margin: auto;
	font-size: 20px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

/*section*/
*section{
    font-family: 'Montserrat', sans-serif;
}
.category .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.portfolio .card-body i {
	font-size: 50px;
}
.portfolion img{
    height: 100px;
}
#contact form {
	display: flex;
	flex-direction: column;
	align-items: center; 
}

#contact button {
	width: 50%
}

/* footer */
footer{
    color: #8d8ba7;
	padding: 20px;
	font-size: 18px !important;
}

footer h5{
    color: black;
}

.footer h5 {
    margin-top: 0;
    margin-bottom: 0.2rem;  /* reduce spacing below heading */
    line-height: 1;
}

.footer p {
    margin-bottom: 0.2rem;  /* adjust the bottom margin as needed */
}

footer #footerImg{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
}

footer #footerImg img{
	max-height: 80px;
	margin-bottom: 10px; /* add some space below the image */
}

hr.dark{
    border: 1px solid #6052ff; 
    margin: 10px 0;
    width: 100%;
}

hr.light-100{
    border-top: 1px solid #6052ff;
    width: 100%;
}


.viewall a {
	text-decoration: none;
	color: #4941a1;
	font-size: 20px;
	font-weight: bold;

}

.viewall a:hover {
	color: #9990f7;
	text-decoration: underline;
}



/* responsive css */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
	.usermode {
		font-size: 18px;
	}
	.navbar li a.btn, .logout {
		font-size: 18px;
	}
}
