body {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    height: 100%;
    overflow-y: auto;

}

.sidebar {
    left: 0;
    overflow-y: auto;  /* add vertical scrolling if content exceeds the available height */
    min-width: 280px;
    z-index: 1000;
    border-right: 1px solid #dee2e6;
    background-color: #f8f9fa;
    padding: 1.2rem;
}

.nav-item a {
    color: #5D5A88 !important;
}


.nav-item.active {
    background-color: #efe6ff; /* Bootstrap primary color */
}

.nav-item.active a {
    color: #6052ff; /* Bootstrap primary color */
    font-weight: bold;
}


.offcanvas-toggle {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px; /* default width */
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* Remove border for a cleaner look; adjust if needed */
    border: none;
    /* Additional styling */
    background-color: #6052ff; /* Bootstrap primary color */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease;
    z-index: 9999;
}

.offcanvas-toggle:hover {
    width: 60px; /* expands on hover */
}

.content-area {
    margin-left: 0;
}

.delete-btn {
    max-height: 40px;
}

.main-row {
    flex: 1;
}


@media screen and (max-width: 768px) {
    .offcanvas.offcanvas-start {
        min-width: 200px;
        width: 50% !important;
    }
}