.card-body table {
    font-size: 16px;
  }
  
.view-btn{
    border: solid 1px #4A3AFF;
    text-decoration: none;
    color: #4A3AFF;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
}

.view-btn:hover{
    background-color: #d6d3ec;
    color:#9b93f7;
    border-color: #9b93f7;
}

.page-link {
    background-color: #4A3AFF !important;
    border: none !important;
}

.page-link:hover {
    background-color: #9b93f7 !important;
}